<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap     = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id            = "com.elsdesign.CurbSide"
        versionCode   = "10" 
        version       = "0.5.6" >

<name>
    CurbSide Prototype
</name>
<description>
    CurbSide Development Prototype
</description>
<author href="http://tiddlytools.com" email="elsdesign@gmail.com">
    Eric Shulman
</author>

<!-- PHONEGAP VERSION -->
<preference name="phonegap-version" value="cli-5.2.0" />

<!-- PLATFORMS -->
<gap:platform name="android" />
<!-- <gap:platform name="ios"> -->

<!-- DEVICE PERMISSIONS -->
<preference name="permissions" value="none"/>
<feature name="http://api.phonegap.com/1.0/file" />
<feature name="http://api.phonegap.com/1.0/camera" />
<feature name="http://api.phonegap.com/1.0/geolocation" />
<!--
<feature name="http://api.phonegap.com/1.0/network" />
<feature name="http://api.phonegap.com/1.0/notification" />
<feature name="http://api.phonegap.com/1.0/media" />
<feature name="http://api.phonegap.com/1.0/contacts" />
<feature name="http://api.phonegap.com/1.0/battery" />
<feature name="http://api.phonegap.com/1.0/device" />
-->

<!-- PLUGINS -->
<gap:plugin name="org.apache.cordova.file" />
<gap:plugin name="org.apache.cordova.camera" />
<gap:plugin name="org.apache.cordova.geolocation" />
<gap:plugin name="com.indigoway.cordova.whitelist.whitelistplugin" />

<!-- DISABLED... INCOMPATIBLE WITH cli-5.2.0
<gap:plugin name="com.kumbe.phonegap.zoom.zoomcontrol" />
-->

<!-- ICON/SPLASH/LOADING MESSAGE -->
<icon src="res/icon.png" />
<preference name="LoadingDialog" value="CurbSide,loading... please wait..."/>
<!-- <gap:splash src="splash.png" /> -->

<!-- SCREEN RESOLUTION/ORIENTATION -->
<preference name="orientation"      value="default" /> <!-- portrait, landscape -->
<preference name="fullscreen"       value="true"    />

<!-- KEYBOARD SCREEN ADJUST -->
<preference name="android-windowSoftInputMode" value="adjustResize" />

<!-- INSTALLATION LOCATION -->
<preference name="android-location" value="auto"    /> <!-- internalOnly, auto, preferSD -->

<!-- CROSS DOMAIN ACCESS -->
<access origin="*" />
<allow-navigation origin="*" />

</widget>